{
    "env": {
        "es6": true
    },
    "extends": "airbnb-base/legacy",
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion":  6,
        "sourceType": "module"
    },
    "rules": {
        "no-use-before-define": "off",
        "no-multiple-empty-lines": "off",
        "no-param-reassign": "off",
        "max-len": [1, {"code": 120, "tabWidth": 2, "ignoreUrls": true}]
    }
}
