// Variables
$gray-light: #ddd;
$gray-lightest: #eee;
$off-white: #fbfbfb;


// RESET
*, ::before, ::after {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
  font-size: 62.5%;
}

img {
  max-width: 100%;
  height: auto;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

h1 {
  padding: 10rem 0 3rem;
  font-size: 5rem;
  font-weight: 400;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 2rem 3rem;
  background: $gray-light;
  font-size: 1.6rem;
  outline: 0;
  cursor: pointer;
}


// DEMO

header {
  padding: 10rem 3rem;
  text-align: center;
  border-bottom: .1rem solid $gray-light;

  img {
    width: 50rem;
  }
}


.expand-demo-section {
  padding: 9rem 3rem 11rem;
  background: $off-white;
  border-bottom: .1rem solid $gray-light;

  &.-white { background: white; }

  > h2 {
    padding-bottom: 1rem;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;

    @media (min-width: 480px) {
      font-size: 4rem;
      font-weight: 300;
    }
  }

  .section-desc {
    padding-bottom: 3rem;
    text-align: center;
  }
}

.slider-wrapper { padding: 2rem; }

.example-slider, .example-slider2 {
  max-width: 120rem;
  margin: 0 auto;

  .expand-js--container {
    &.-is-center-mode {
      .expand-js--item {
        opacity: .5;

        &-center { opacity: 1; }
      }

      &.-is-center-range {
        .expand-js--item {
          opacity: .2;

          &-center { opacity: 1; }

          &-half-center { opacity: .8; }

          &-quarter-center { opacity: .5; }

        }
      }
    }
  }

  .expand-js--item {
    > div {
      position: relative;
      text-align: center;
      padding: 6rem 1rem;
      margin: 0 .5rem;
      background: #ffa500;
      border: 1px solid #000;
      font-size: 6rem;

      &::before {
        position: absolute;
        right: 20px;
        bottom: 15px;
        width: calc(100% - 40px);
        text-align: center;
        font-size: 14px;
      }
      &::after {
        position: absolute;
        right: 20px;
        top: 15px;
        width: calc(100% - 40px);
        text-align: center;
        font-size: 14px;
      }
    }

    &-active > div::before { content: 'active'; }

    &-center > div::after { content: 'center'; }

    &-half-center > div::after { content: 'half-center'; }

    &-quarter-center > div::after { content: 'quarter-center'; }

  }
}

.example-slider2 {
  .expand-js--item {
    > div {
      background: #55aaff;
    }
  }
}

.expand-custom-arrows {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: hotpink;
  color: white;

  &:hover {
    background: deeppink;
  }

  &.expand-js--prev { left: -2.5rem; }
  &.expand-js--next { right: -2.5rem; }
}
