// add grid support for autoprefixer tasks
/* autoprefixer grid: autoplace */

.expand-outer {
  position: relative;
}

.expand-js {

  &.-hidden { overflow: hidden; }
  &.-rtl { direction: rtl; }

  &--item {
    float: left;

    &.f-right { float: right; }
  }

  &--prev,
  &--next {
    position: absolute;
    top: 50%;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    background: rgba(255,255,255,.8);
    box-shadow: .1rem .1rem .2rem 0 rgba(0,0,0,0.25);
    color: #333;
    font-size: 2rem;
    cursor: pointer;
    transition: 275ms background ease-in-out;
    transform: translateY(-50%);

    &:hover {
      background: rgba(255,255,255,1);
    }
  }

  &--prev { left: -1rem; }
  &--next { right: -1rem; }


  &.-is-pagination {
     + .expand-js--prev {
      margin-top: -2rem;

       + .expand-js--next { margin-top: -2rem; }

    }
  }
}

.expand-pagination {
  padding-top: 1rem;
  text-align: center;

  .expand-pagination--item {
    display: inline-block;
    padding: .5rem;
    cursor: pointer;

    &.active { background: #ddd; }

    &.expand-pagination--item--dots {
      width: 1rem;
      height: 1rem;
      margin: 0 .5rem;
      background: #ddd;
      border-radius: 50%;

      &.active { background: #999; }
    }
  }
}
